<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('homepage')}}">Santé Vet'</a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ path('scraping') }}">Scraping des 100 premières annonces</a>
                </li>
                <li>
                    <a href="{{ path('advert') }}">Liste des annonces de la BDD</a>
                </li>
            </ul>
        </div>
    </div>
</nav>